<% content_for :title, "Chrome" %>
<%= link_to image_tag("icons/chrome.png", alt: "chrome_icon"),'/chrome' %>

<h1>Chrome Home beta</h1>
<p>Find me in views/chrome/home</p>
<hr>

<%= render "links.html.erb" %>

