<% content_for :title, "Chrome" %>
<%= link_to image_tag("icons/chrome.png", alt: "chrome_icon"),'/chrome' %>

<h1>Chrome beta 2nd page</h1>
<p>Find me in views/chrome/second</p>
<hr>

<%= render "links.html.erb" %>
