<% content_for :title, "Search" %>
<%= link_to image_tag("icons/search.png", alt: "search_icon"),'/search' %>

<h1>Search beta 2nd page</h1>
<p>Find me in views/search/second</p>
<hr>

<%= render "links.html.erb" %>
