<% content_for :title, "Calendar" %>
<%= link_to image_tag("icons/calendar.png", alt: "calendar_icon"),'/calendar' %>

<h1>Calendar beta 2nd page</h1>
<p>Find me in views/calendar/second</p>
<hr>

<%= render "links.html.erb" %>
