<% content_for :title, "Maps" %>
<%= link_to image_tag("icons/maps.png", alt: "maps_icon"),'/maps' %>

<h1>Maps beta 2nd page</h1>
<p>Find me in views/maps/second</p>
<hr>

<%= render "links.html.erb" %>
