<% content_for :title, "YouTube+" %>
<%= link_to image_tag("icons/youtube.png", alt: "youtube_icon"),'/youtube' %>

<h1>YouTube+ Home beta</h1>
<p>Find me in views/youtube/home</p>
<hr>

<%= render "links.html.erb" %>
