<% content_for :title, "YouTube+" %>
<%= link_to image_tag("icons/youtube.png", alt: "youtube_icon"),'/youtube' %>
<br>
<h1>Creating a mosaic of screenshots from a video</h1>
<hr>
<p>Here is a command that we can get images composed of the screenshots when the scene changed:</p>
<pre>
<code>$ ffmpeg -i YosemiteHDI.mp4 -vf select='gt(scene\,0.4)',scale=640:360,tile -frames:v 1 Yosemite_mosaic.png</code>
</pre>
<hr>
<p>Here is the output:</p>
<%= image_tag("youtube/mosaic/Yosemite_mosaic.png", :size => "640x360", :alt => "Yosemite_mosaic.png") %>
<br>
<br>
<hr>
<p>The following command will select every 300th frame, scale it to 640x360 pixels and create 6x4 tiles in the output image:</p>
<pre>
<code>$ ffmpeg -i YosemiteHDI.mp4 -frames 1 -vf "select=not(mod(n\,500)),scale=640:360,tile=4x3" Yosemite_mosaic2.png</code>
</pre>
<%= image_tag("youtube/mosaic/Yosemite_mosaic2.png", :size => "640x360", :alt => "Yosemite_mosaic2.png") %>
<hr>

<%= render "links.html.erb" %>
