<% content_for :title, "YouTube+" %>
<%= link_to image_tag("icons/youtube.png", alt: "youtube_icon"),'/youtube' %>

<h1>YouTube beta 2nd page</h1>
<p>Find me in views/youtube/second</p>
<hr>

<%= render "links.html.erb" %>