<% content_for :title, "Play" %>
<%= link_to image_tag("icons/play.png", alt: "play_icon"),'/play' %>

<h1>Play beta 2nd page</h1>
<p>Find me in views/play/second</p>
<hr>

<%= render "links.html.erb" %>
