<% content_for :title, "Drive" %>
<%= link_to image_tag("icons/drive.png", alt: "drive_icon"),'/drive' %>

<h1>Drive Home beta</h1>
<p>Find me in views/drive/home</p>
<hr>

<%= render "links.html.erb" %>

