<% content_for :title, "Drive" %>
<%= link_to image_tag("icons/drive.png", alt: "drive_icon"),'/drive' %>

<h1>Drive beta 2nd page</h1>
<p>Find me in views/drive/second</p>
<hr>

<%= render "links.html.erb" %>
