<h1>
  <%= I18n.t('brand.name') %>
</h1>
<p>
  Powered by Rails 4, PyGoogle plays with Google apps!
</p>
<p>
  <%= I18n.t 'brand.name' %>
  will do our best to make the best use of the Google apps. <br>
  <%= I18n.t 'brand.name' %>
  will also find hidden gems among the Google services.
</p>

<p>
  <%= link_to 'Github', 'https://github.com/PyGoogle/PyGoogle.git' %>
</p>
