<h1>
  <%= I18n.t('brand.name') %>
</h1>
<p>
  Powered by Rails 4, PyGoogle plays with Google apps!
</p>
<p>
  <%= I18n.t 'brand.name' %>
  trying it's best to tell you what people are easy to overlook and find hidden gems in Google apps.
</p>

<p>
  <%= link_to 'Github', 'https://github.com/PyGoogle/PyGoogle.git' %>
</p>