<title><%= yield(:title) %> | PyGoogle
</title>

<h1>Privacy Policy agreement</h1>
<p>Information You Provide:<br>
 You provide us information about yourself, such as your name and e-mail address, if you register for an account with the Service, including by connecting with the Service via a third-party service, or by “following,” “becoming a fan,” adding the Asana application, etc., on a third party website or network.</p>
 <p>We may use your email address to send you Service-related notices (including any notices required by law, in lieu of communication by postal mail). We may also use your contact information to send you marketing messages. If you don’t want to receive these messages, you can opt out by following the instructions in the message. If you correspond with us by email, we may retain the content of your email messages, your email address and our responses.</p>