<% content_for :title, "Google Projects" %>
<%= link_to image_tag("icons/projects.png", alt: "projects_icon"),'/projects' %>

<h1>Google Projects Home beta</h1>
<p>Find me in views/projects/home</p>
<hr>

<%= render "links.html.erb" %>
