<% content_for :title, "Google Projects : Skybender" %>
<%= link_to image_tag("icons/projects.png", alt: "projects_icon"),'/projects' %>
<%= link_to image_tag("icons/skybender.png", alt: "skybender_icon"),'/projects/skybender' %>

<h1>Google Projects : Skybender beta</h1>
<p>Find me in views/projects/skybender.html</p>
<hr>
<%= image_tag("projects/skybender/skybender.png", :alt => "skybender.png") %>
<br>
<br>
<p>Google is testing solar-powered drones at Spaceport America in New Mexico to explore ways to deliver high-speed internet from the air, the Guardian has learned.</p>

<p>In a secretive project codenamed SkyBender, the technology giant built several prototype transceivers at the isolated spaceport last summer, and is testing them with multiple drones, according to documents obtained under public records laws.</p>

<p>In order to house the drones and support aircraft, Google is temporarily using 15,000 square feet of hangar space in the glamorous Gateway to Space terminal designed by Norman Foster for the much-delayed Virgin Galactic spaceflights.</p>

<p>The tech company has also installed its own dedicated flight control centre in the nearby Spaceflight Operations Center, separate from the terminal.</p>

<p>
- From <a href="http://www.theguardian.com/technology/2016/jan/29/project-skybender-google-drone-tests-internet-spaceport-virgin-galactic">Project Skybender: Google's secretive 5G internet drone tests revealed
</a>
</p>

<br>
<br>

<iframe width="560" height="315" src="https://www.youtube.com/embed/KsOUM2KuWa4" frameborder="0" allowfullscreen></iframe>

<br>
<br>

<p>Based out of the site near the town called Truth or Consequences, Project SkyBender is using drones to experiment with millimetre-wave radio transmissions, one of the technologies that could underpin next generation 5G wireless internet access. High frequency millimetre waves can theoretically transmit gigabits of data every second, up to 40 times more than today’s 4G LTE systems. Google ultimately envisages thousands of high altitude “self-flying aircraft” delivering internet access around the world.</p>

<p>“The huge advantage of millimetre wave is access to new spectrum because the existing cellphone spectrum is overcrowded. It’s packed and there’s nowhere else to go,” says Jacques Rudell, a professor of electrical engineering at the University of Washington in Seattle and specialist in this technology.</p>

<br>
<br>
<%= image_tag("projects/skybender/Solar-Powered-Drone.png", :alt => "Solar-Powered-Drone.png") %>
<br>
<br>


<hr>
<%= render "links.html.erb" %>
