<% content_for :title, "Translate" %>
<%= link_to image_tag("icons/translate.png", alt: "translate_icon"),'/translate' %>

<h1>Translate beta 2nd page</h1>
<p>Find me in views/translate/second</p>
<hr>

<%= render "links.html.erb" %>
