<% content_for :title, "Gmail" %>
<%= link_to image_tag("icons/gmail.png", alt: "gmail_icon"),'/gmail' %>

<h1>Gmail beta 2nd page</h1>
<p>Find me in views/gmail/second</p>
<hr>

<%= render "links.html.erb" %>
