<% content_for :title, "Google+" %>
<%= link_to image_tag("icons/plus.png", alt: "plus_icon"),'/plus' %>

<h1>Google+ beta 2nd page</h1>
<p>Find me in views/plus/second</p>
<hr>

<%= render "links.html.erb" %>
