<% content_for :title, "Hangouts" %>
<%= link_to image_tag("icons/hangouts.png", alt: "hangouts_icon"),'/hangouts' %>

<h1>Hangouts Home beta</h1>
<p>Find me in views/hangouts/home</p>
<hr>

<%= render "links.html.erb" %>

