<% content_for :title, "Hangouts" %>
<%= link_to image_tag("icons/hangouts.png", alt: "hangouts_icon"),'/hangouts' %>

<h1>Hangouts beta 2nd page</h1>
<p>Find me in views/hangouts/second</p>
<hr>

<%= render "links.html.erb" %>
