<div class="container">
  <div class="row">
    <div class="col-sm-2">
      Sidebar
    </div>
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-2">
          avatar area
        </div>
        <div class="col-sm-8">
          content area
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          avatar area
        </div>
        <div class="col-sm-8">
          content area
        </div>
      </div>
    </div>
  </div>
</div>